*.georef
legend_script/pedestrian.png
legend_script/cycleway.png
legend_script/mtbscale0.png
legend_script/mtbscale1.png
legend_script/mtbscale2.png
legend_script/trail3.png
legend_script/trail4.png
legend_script/unpavedroad.png
legend_script/trail2.png
legend_script/trail1.png
legend_script/track.png
legend_script/mtbscale3.png